:root {
    --primary-color: #feba9f;
    --background-color: #f0f0f0;
    --primary-color-hover: #FFA07A;
}

:root.dark {
    --primary-color: #342b28;
    --background-color: #1a1a1a;
    --primary-color-hover: #787575;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
}

/* paw */
.paw-container {
    position: relative;
    width: 480px;
    height: 600px;
    border-radius: 180px 180px 50% 50%;
    border: 16px solid #8B4513;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.3),
        inset -8px -8px 8px rgba(255, 255, 255, 0.3),
        -10px -10px 10px rgba(0, 0, 0, 0.3);

}

.paw-center {
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50% 50% 45% 45%;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.3),
        inset -8px -8px 8px rgba(255, 255, 255, 0.3),
        -10px -10px 10px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.paw-center:hover {
    transform: translate(-50%, -50%) scale(1.05);
    background-color: var(--primary-color-hover);
}

.paw-toes {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
}

.paw-toe {
    width: 70px;
    height: 90px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 45% 45% 50% 50%;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.3),
        inset -8px -8px 8px rgba(255, 255, 255, 0.3),
        -10px -10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
        background-color: var(--primary-color-hover);
    }

    &:nth-of-type(1) {

        &:hover {
            transform: rotate(-20deg);
        }
    }

    &:nth-of-type(2) {

        &:hover {
            transform: rotate(-10deg);
        }
    }

    &:nth-of-type(3) {
        &:hover {
            transform: rotate(10deg);
        }
    }

    &:nth-of-type(4) {
        &:hover {
            transform: rotate(20deg);
        }
    }
}

.theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.change-theme {
    position: relative;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: var(--primary-color);
    border: none;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.3),
        inset -8px -8px 8px rgba(255, 255, 255, 0.3),
        -10px -10px 10px rgba(0, 0, 0, 0.3);

    transition: 0.3s ease-in-out;

    &:hover {
        background-color: var(--primary-color-hover);
        transform: scale(1.05);
    }
}